
body{
	color: #F0E6DB;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-image: url('bg.jpg');
	background-size: cover;
}
.wrapper {
	width: 30%;
	min-height: 100vh;
	background-color: #F0E6DB;
	margin: 0 auto;	
}
header {
	background-color: #3A9CB1;
	width: 100%;
	height: 80px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}
.task {
	background-color: #5BB3BC;
	border: none;
	padding: 10px;
	width: 100%;
	height: 50px;
	color: #F0E6DB;
	font-style: italic;
	font-weight: 300;
	box-sizing: border-box;
	border-radius: 10px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.add {
	background-color: #FFF;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	right: 15px;
}
.add i {
	color: #3A9CB1;
	font-size: 20px;
}
::placeholder {
	color: #F0E6DB;
}
.container {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	position: relative;
	box-sizing: border-box;
}
ul#completed:not(empty) li{
	opacity: 0.5;
}
ul#todo:empty::after {
	content: 'Nie masz zadań do wykonania';
	display: block;
	text-align: center;
	font-style: italic;
	color: #AD3642;
}
ul#completed::before {
	content: '';
	display: block;
	margin: 20px auto;
	width: 90%;
	border-bottom: 1px dashed #AD3642;;
}
ul#completed:empty::after {
	content: 'Nie masz jeszcze wykonanych zadań';
	display: block;
	text-align: center;
	font-style: italic;
	color: #AD3642;
}
li {
	background-color: #5BB3BC;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}
.del-btn {
	background-color: #AD3642;
	border: none;
	border-radius: 5px;
	color: #F0E6DB;
	padding: 5px;
	margin-top: 5px;
	right: 20px;
}
.icons {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
}
.icons i{
	margin: 0 10px;
	font-size: 20px;
	color: #AD3642;
}
.opacity {
	opacity: 0.4;
}

@media only screen and (max-width: 600px){
	body {
		background-image: none;
	}
	.wrapper {
		width: 100vw;
	}
}
